/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-color: #16F4CC;
    --font-color: #545F71;
    --radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

main {
    padding: 20px;
    text-align: center;
}


section {
    margin-bottom: 20px;
}

.ingresar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los botones se envuelvan si no hay suficiente espacio */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 160px 0px 160px;
    border-radius: var(--radius);
    margin-bottom: 200px;
}

.container button {
    max-width: 300px; /* Ajusta este valor según sea necesario */
    width: 100%; /* Ocupa todo el ancho disponible */
}


h1 {
    font-size: 45px;
    text-align: center;
}

nav {
    padding: 10px;
    margin-bottom: 40px;
    align-self: stretch;
}

nav svg {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: var(--font-color);
}

header {
    text-align: center;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 5px;
}

form input,
form select {
    margin-bottom: 15px;
}

.container {
    margin-bottom: 20px;
}

button {
    background-color: var(--button-color);
    border: none;
    padding: 16px 90px;
    margin-bottom: 12px;
    cursor: pointer;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    font-weight: 600;
    color: var(--font-color);
}

button:hover {
    background-color: hsl(162, 100%, 80%);
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.4); 
}

footer {
    text-align: center;
    padding: 10px;
}

footer a {
    color: var(--font-color);
    font-weight: bold;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

footer a:hover {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.4); 
}

label {
    display: block; /* Para que cada label ocupe una línea completa */
    margin-bottom: 10px
    
}

input[type="text"],
select {
    width: 20%; 
    padding: 10px; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
    margin-bottom: 10px;
     
}

/* Estilos responsivos pantallas pequeñas */
@media (max-width: 768px) {

    nav,
    footer {
        padding: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    .section1 {
        margin-top: 60px;
    }

    .container {   
        margin: 0px 36px 0px 36px; /* Ajusta los márgenes según sea necesario */
        height: 500px; /* Ajusta la altura según sea necesario */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: var(--radius);
        margin-bottom: 200px;
    }

    .banner {
        height: 260px;
        object-fit: cover;
        background-color: white;
        margin-bottom: 30px;
    }

    button {
        padding: 10px 55px 10px 55px;
    }
}